<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title> Archived Layouts</title>
</head>
<body>

<header>
    <div th:insert="~{nav :: navbar}"></div>
</header>

<div class="container mt-4">
    <h1>Archived Layouts</h1>

    <div th:if="${layouts.isEmpty()}">
        <p>No archived layouts found.</p>
    </div>

    <div th:unless="${layouts.isEmpty()}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="layout : ${layouts}">
                <td th:text="${layout.name}"></td>
                <td th:text="${layout.description}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <a th:href="@{/layouts}" class="btn btn-secondary mt-3">
        <i class="fas fa-arrow-left"></i> Go Back to Layouts
    </a>
</div>
</body>
</html>
