<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<title>Layouts</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link th:href="@{/css/styles.css}" rel="stylesheet"/>
<body>

<header>
    <div th:insert="~{nav :: navbar}"></div>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <h2>Layout Details</h2>
        <a class="btn btn-success" th:href="@{/layouts}">Go Back</a>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:text="${layout.name}"></span></td>
                <td><span th:text="${layout.description}"></span></td>
            </tr>
            </tbody>
        </table>

        <div class="card p-3">
            <h4>Dining Tables</h4>
            <table class="table table-striped table-hover mt-3">
                <thead class="table-dark">
                <tr>
                    <th>Number of Seats</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="table : ${diningTables}">
                    <td th:text="${table.numberOfSeats}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>