<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div th:insert="~{nav :: navbar}"></div>
</header>

<div class="container mt-5">
    <main role="main" class="pb-3">
        <div class="row justify-content-center">
            <div class="col-md-5 col-lg-5">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Register</h3>
                        <form th:action="@{/register}" method="post" th:object="${userDetail}">
                            <div class="form-group mb-3">
                                <label for="firstName" class="form-label">First Name: <span class="text-danger">*</span></label>
                                <input type="text" th:field="*{firstName}" class="form-control" id="firstName">
                                <div class="alert alert-warning mt-2" th:errors="*{firstName}"></div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="lastName" class="form-label">Last Name: <span
                                        class="text-danger">*</span></label>
                                <input type="text" th:field="*{lastName}" class="form-control" id="lastName">
                                <div class="alert alert-warning mt-2" th:errors="*{lastName}"></div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="username" class="form-label">Username: <span
                                        class="text-danger">*</span></label>
                                <input type="text" th:field="*{username}" class="form-control" id="username"
                                       minlength="4">
                                <div class="alert alert-warning mt-2" th:errors="*{username}"></div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="password" class="form-label">Password: <span
                                        class="text-danger">*</span></label>
                                <input type="password" th:field="*{password}" class="form-control" id="password"
                                       minlength="6">
                                <div class="alert alert-warning mt-2" th:errors="*{password}"></div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="email" class="form-label">Email: <span class="text-danger">*</span></label>
                                <input type="email" th:field="*{email}" class="form-control" id="email"
                                       placeholder="example@domain.com">
                                <div class="alert alert-warning mt-2" th:errors="*{email}"></div>
                            </div>
                            <div th:if="${successMessage}" class="alert alert-success">
                                <p th:text="${successMessage}"></p>
                            </div>
                            <div th:if="${errorMessage}" class="alert alert-warning">
                                <p th:text="${errorMessage}"></p>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary btn-block">Register</button>
                            </div>
                        </form>
                        <div class="text-center mt-3">
                            <p>Already have an account? <a th:href="@{/login}" class="btn btn-link">Login here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
